/**
 * Base theme provides the common configuration used across the site.  This includes: 
 * - Importing all component less files.  At this point I haven't truely decided whether 
 *   I want to continue with Antd and Less (a bunch of added overhead) or just convert 
 *   fully back to styled-components (or try out emotion)
 * - Common styles such as globals (replace GlobalStyle), animations, etc.
 * - Common mixins to be used throughout the Component less files
 * - Base theme color variables - these are to be overwritten/extended in sub themes
 * 
 */

.cssVars() {
  :root {
    --body-background: @body-background;
    --component-background: @component-background;
    --text-color: @text-color;
    --text-color-inverse: @text-color-inverse;
    --primary-1: @primary-1;
    --primary-2: @primary-2;
    --primary-3: @primary-3;
    --primary-4: @primary-4;
    --primary-5: @primary-5;
    --primary-6: @primary-6;
    --primary-7: @primary-7;
    --primary-8: @primary-8;
    --primary-9: @primary-9;
    --primary-10: @primary-10;
    --accent-1: @accent-1;
    --accent-2: @accent-2;
  }
}

// https://css-tricks.com/snippets/css/fluid-typography/
// https://dev.to/langermank/converting-fluid-typography-less-mixin-to-css-clamp-g5g
// font-size: calc(14px + (26 - 14) * ((100vw - 480px) / (1600 - 480)));  goood
// font-size: calc(16px + ( 24 - 16 ) * ((100vw -  480px ) / ( 1600px - 480px )))  baaad
.fluid-typography-rem(@min-screen: 480px, @max-screen: 1600px, @min-font: 14px, @max-font: 26px) {
  font-size: @min-font;

  @media screen and (min-width: @min-screen) {
    font-size: calc(
      @min-font ~'+ ((' unit(@max-font) ~'-' unit(@min-font) ~') / 2) * ((100vw - '
        @min-screen ~') / (' unit(@max-screen) ~'-' unit(@min-screen) ~'))'
    );
  }

  @media screen and (min-width: @max-screen) {
    font-size: @max-font;
  }
}
