// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,500;1,300;1,500&family=Dancing+Script&display=swap');

// Import Ant Design styles by less entry
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

// https://css-tricks.com/snippets/css/fluid-typography/
// https://dev.to/langermank/converting-fluid-typography-less-mixin-to-css-clamp-g5g
// font-size: calc(14px + (26 - 14) * ((100vw - 480px) / (1600 - 480)));  goood
// font-size: calc(16px + ( 24 - 16 ) * ((100vw -  480px ) / ( 1600px - 480px )))  baaad
.fluid-typography-rem(@min-screen: 480px, @max-screen: 1600px, @min-font: 14px, @max-font: 26px) {
  font-size: @min-font;

  @media screen and (min-width: @min-screen) {
    font-size: calc(
      @min-font ~'+ ((' unit(@max-font) ~'-' unit(@min-font) ~') / 2) * ((100vw - '
        @min-screen ~') / (' unit(@max-screen) ~'-' unit(@min-screen) ~'))'
    );
  }

  @media screen and (min-width: @max-screen) {
    font-size: @max-font;
  }
}

// Typography
// ---
@font-family: 'Bitter';
@font-weight: 300;
@font-weight-bold: 600;
@font-size-base: 1rem;
@heading-1-size: 3.84rem;
@heading-2-size: 2.5rem;
@heading-3-size: 1.96rem;
@heading-4-size: 1.5rem;
@heading-5-size: 1.1rem;

@script-font-family: 'Dancing Script', cursive;

// Colors
// ---
@primary-color: #9b2915;
@accent-1: #e9b44c;
@accent-2: #e4d6a7;

@grey-0: @black;
@grey-1: tint(@grey-0, 10%);
@grey-2: tint(@grey-0, 20%);
@grey-3: tint(@grey-0, 30%);
@grey-4: tint(@grey-0, 40%);
@grey-5: tint(@grey-0, 50%);
@grey-6: tint(@grey-0, 60%);
@grey-7: tint(@grey-0, 70%);
@grey-8: tint(@grey-0, 80%);
@grey-9: tint(@grey-0, 90%);
@grey-10: tint(@grey-0, 100%);

// Layout
// ---
@primary-container-width: 1123px;
@primary-container-padding-sm: 3rem;
@primary-container-padding-md: 5rem;
@primary-container-padding-lg: 3rem;
@divider-orientation-margin: 1rem;

// Root and HTML Styles
html {
  .fluid-typography-rem(@screen-xs, @screen-xxl, 14px, 24px);

  --body-background: @body-background;
  --component-background: @component-background;
  --text-color: @text-color;
  --text-color-inverse: @text-color-inverse;
  --primary-1: @primary-1;
  --primary-2: @primary-2;
  --primary-3: @primary-3;
  --primary-4: @primary-4;
  --primary-5: @primary-5;
  --primary-6: @primary-6;
  --primary-7: @primary-7;
  --primary-8: @primary-8;
  --primary-9: @primary-9;
  --primary-10: @primary-10;
  --accent-1: @accent-1;
  --accent-2: @accent-2;
}

body {
  background-color: @layout-header-background;
  font-weight: @font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter';
  font-weight: @font-weight-bold;
}

strong {
  font-weight: @font-weight-bold;
}

.cursive {
  font-family: @script-font-family;
}

.ant-breadcrumb {
  .primary-container-width();
  .primary-container-padding(1em);
}

// .inverse changes the colour scheme for an individual section
// i.e. <Footer> or some other customizable sections.  This should
// eventually provide differnet levels of inversion, but for now
// one is good
.inverse {
  background-color: color(@layout-header-background, 5);

  *:not(a) {
    color: @text-color-dark;
  }

  .ant-divider {
    border-color: @text-color-dark;
  }
}

// .inverse-primary
.inverse-accent {
  background-color: @accent-1;

  *:not(a) {
    color: @text-color !important;
  }

  .ant-divider {
    border-color: @text-color;
  }
}

// Override the 16px margin bottom that causes the icons not to be
// aligned vertical center.
.footer-social-list .ant-list-item.footer-social-list-item {
  margin-bottom: 0px;
}

.primary-container-width {
  width: 100%;
  min-width: initial; // Separators are 100%
  max-width: @primary-container-width;
  margin-left: auto;
  margin-right: auto;
}

.primary-container-padding(@vertical: 0) {
  padding-top: @vertical;
  padding-bottom: @vertical;

  @media screen and (max-width: @screen-lg-max) {
    padding: @vertical @primary-container-padding-md;
  }

  @media screen and (max-width: @screen-md-max) {
    padding: @vertical @primary-container-padding-sm;
  }
}

@import '../components/footer/footer.less';
@import '../components/header/brand.less';
@import '../components/header/header.less';
@import '../components/header/menu.less';
@import '../components/section/section.less';
