@layout-header-color: @text-color-dark;
@layout-header-height: auto; // 64px
@layout-header-padding: 1rem; // 0 50px;

@nav-link-color: @text-color-dark;
@nav-link-color-accent: @white;

.ant-layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: initial;

  & .ant-typography {
    margin: 0px;
  }

  > .ant-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .primary-container-width();
    .primary-container-padding();
  }
}
