@section-hero-min-height: 85vh;
@section-vertical-padding: 3em;

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  padding-top: @section-vertical-padding;

  &:nth-last-of-type(1) {
    padding-bottom: @section-vertical-padding;
  }

  &.v-pad-small {
    padding: 0;
  }

  &.v-pad-medium {
    padding: 1em 0;
  }

  &.v-pad-large {
    padding: 3em 0;
  }

  &.hero {
    min-height: @section-hero-min-height;
    padding: @section-vertical-padding * 2 0;
    justify-content: center;
  }

  > * {
    .primary-container-width();
    .primary-container-padding();
  }
}

.ant-typography.section-title {
  font-size: 1.2rem;
  color: @accent-1;
  margin-top: 0;
  margin-bottom: 0;

  &.spacing-small {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &.spacing-medium {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &.spacing-large {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
