@section-hero-min-height: 85vh;
@section-vertical-padding: 3em;

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  padding-top: @section-vertical-padding;

  &:nth-last-of-type(1) {
    padding-bottom: @section-vertical-padding;
  }

  &.v-pad-small {
    padding: 0;
  }

  &.v-pad-medium {
    padding: 1em 0;
  }

  &.v-pad-large {
    padding: 3em 0;
  }

  &.hero {
    min-height: @section-hero-min-height;
    padding: @section-vertical-padding * 2 0;
    justify-content: center;
  }

  > * {
    .primary-container-width();
    .primary-container-padding();
  }

  .section-title {
    .primary-container-padding();
    font-size: 1.2rem;
    color: @accent-1;

    &.v-pad-sm {
      .primary-container-padding(1em);
    }

    &.v-pad-md {
      .primary-container-padding(2em);
    }
  }
}
