@layout-footer-padding: 3em;

.ant-layout-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 3em 0 1em 0;

  & > .ant-row {
    .primary-container-width();
    .primary-container-padding();
  }

  .ant-typography:not(h2, h3, h4) {
    font-size: 0.9rem;
  }

  .ant-list {
    a {
      font-weight: @font-weight;

      &:hover {
        color: @primary-5;
      }
    }
  }

  .footer-row-social {
    font-size: 1.05rem;

    .footer-social-list-item a svg {
      transition: all 0.2s ease-in-out;
    }

    .footer-social-list-item a:hover svg {
      transform: scale(1.5);
    }
  }
}

section#copyright {
  .ant-row {
    justify-content: center;

    @media screen and (min-width: @screen-lg) {
      justify-content: space-between;
    }
  }
}
