blockquote {
  position: relative;
  margin: 3em auto;

  border-left: 8px solid var(--base03);
  background-color: rgba(var(--base03-rgb-r),var(--base03-rgb-g),var(--base03-rgb-b),0.5);
  color: var(--base05);

  max-width: 720px;
  padding: 1em;

  &.success {
    color: var(--base0C);
    border-color: var(--base0C);
    background-color: rgba(var(--base0C-rgb-r),var(--base0C-rgb-g),var(--base0C-rgb-b),0.2);
  }

  &.error {
    color: var(--base0D);
    border-color: var(--base0D);
    background-color: rgba(var(--base0D-rgb-r),var(--base0D-rgb-g),var(--base0D-rgb-b),0.2);
  }

  &.warning {
    color: var(--base0E);
    border-color: var(--base0E);
    background-color: rgba(var(--base0E-rgb-r),var(--base0E-rgb-g),var(--base0E-rgb-b),0.2);
  }

  &.info {
    color: var(--base0F);
    border-color: var(--base0F);
    background-color: rgba(var(--base0F-rgb-r),var(--base0F-rgb-g),var(--base0F-rgb-b),0.2);
  }

  &[cite] {
    font-family: "Georgia","serif";
    font-style: italic;
    border: 0px;
    width: 100%;
    margin: 3em auto;
    background-color: transparent;

    &::before {
      content: "\201C";
      font-size: 20pt;
      position: absolute;
      font-size: 7rem;
      left: -20px;
      top: 10px;
      color: var(--base03);
    }

    &::after {
      content: "- " attr(cite);
      font-style: bold;
    }

    p:last-child::after {
      content: "\201D";
    }
  }

  &.cite {
    display: inline;
    font-family: "Georgia","serif";
    font-style: italic;
    border: 0px;
    margin: 3em auto;
    background-color: transparent;

    &::before {
      content: "\201C";
      font-size: 20pt;
      position: absolute;
      font-size: 7rem;
      left: -20px;
      top: 10px;
      color: var(--base03);
      margin-right: 1em;
    }

    p {
      display: inline-block;
      padding: 1em;
    }

    p:last-child::after {
      content: "\201D";
    }
  }
}
